# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally
*.override.tf
*.override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan files
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform cache and plugins
.terraform/

# Ignore backup files created by the Terraform console
*.backup

# Ignore sensitive files
.env
.env.*

.terraform.lock.hcl